* {
    /* width: 100vh; */
    /*max-width: 100% ser till att inget på sidan ha en bredd på mer än
    100vh, betyder att man inte kommer kunna skrolla åt sidan på sidan.*/
    max-width: 100%;

    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper {
    display: grid;
    height: 120vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 90vh auto;
    grid-template-areas: 
     "hd"
     "sc"
     "ft"
    ;
    background-color: blue;
}

header {
    grid-area: hd;
    background-color: whitesmoke;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-right: 20px;
    /* background-color: red; */
}
.link_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}


section {
    grid-area: sc;
    background-color: green;
}
#img {
    display: flex;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    background-image: url("https://images.unsplash.com/photo-1583119912267-cc97c911e416?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80")
}



footer {
    grid-area: ft;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
}
#external_links {
    display:flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
#link_footer {
    width: 30%;
}
#youtube {
    border-radius: 100%;
    height: 50px;
}